@import "tailwindcss";
.nav{
    background: #0000001c;
}
html,body{
  scroll-behavior: smooth;
  background: #002e3d;
  background: linear-gradient(90deg,rgba(0, 46, 61, 1) 0%, rgba(5, 0, 13, 1) 100%);
}
.contact{
  background: #002e3d;
  background: linear-gradient(-90deg,rgba(0, 46, 61, 1) 0%, rgba(5, 0, 13, 1) 100%);
}